@model IEnumerable<SelectListItem>

@{
    ViewData["Title"] = "Create a Clip";
}

<div class="container justify-content-center align-content-center align-items-center">
    <h1>Create Clip for </h1>

    <div class="justify-content-center align-content-center align-items-center" >
        <form method="post" class="player-index ">
            <label>Currently Selected Player</label>
            <select class="form-control" name="playerId" asp-items="@Model"></select>


            <label>Clip Name (Only Add Text After The Slash Or Clip Won't Work IE clips.twitch.tv/<b>FragileHeartlessCockroachSuperVinlin </b></label>
            <input type="text" class="form-control " name="clipNameOrUrl" required />

            <div class="mt-3 class="justify-content-center align-content-center align-items-center"">
                <button type="submit" class="createclip btn-primary btn-block btn- " id="color">Add Video</button>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>


        </form>
      
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
