@model IDCapstone.Models.Video

@{
    ViewData["Title"] = "Create A Video";
}

<h1 class= "row justify-content-center align-content-center align-items-center">Create a Video Clip</h1>


<hr />
<div class="row  justify-content-center align-content-center align-items-center">
    <div class="col-md-4 container justify-content-center align-content-center align-items-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Url" class="control-label">Clip Name (Only Add Text After The Slash Or Clip Won't Work IE clips.twitch.tv/<b>FragileHeartlessCockroachSuperVinlin </b></label>
                <input asp-for="Url" class="form-control"  required/>
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Title" class="control-label">Clip Title</label>
                <input asp-for="Title" class="form-control" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Clip Description</label>
                <input type="text" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="GameName" class="control-label"></label>
            <select asp-for="GameName" class="form-control" asp-items="ViewBag.Games"/>
            <span asp-validation-for="GameName" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="GameName" class="control-label">Game Name</label>
            @Html.DropDownListFor(x => x.GameName, Games.Game)
        </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a asp-action="Index">Back to Video Index</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
