img {
  width: 38px;
  height: auto; }

html {
  position: relative;
  min-height: 100%;
 }
p{
    color:white;
    font-size:x-large
}
body {
  background-color: #292f33; }
a {
   color: #F25430 !important;
}
/*.home{
    position:absolute;
    float:right;
    padding-left: 1100px;
    padding-top: 50px;
  
     
}*/
/*.player {*/
/*position: absolute;*/
/*padding-top: 130px;
    padding-left: 100px;
}*/
footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */ }

.navbar {
  background-color: #F25430; }
  .navbar .nav-link {
    color: white !important; }
.btn-default {
    background-color: #F25430 !important;
    color: white;
    border: none;
    border-radius: 6px;
}
.btn-primary {
    width: 100% !important;
    background-color: #F25430 !important;
    color: white;
    border: none;
    border-radius: 6px;
    height: 37px;
}
  .btn-primary:hover {
    background-color: #D93E30 !important; }
  .btn-primary:active {
    background-color: #444 !important; }

input[type=text] {
  background-color: #131416;
  color: white; }
  input[type=text]:focus {
    color: white;
    outline: 2px solid #131416;
    background-color: black; }

select {
  background-color: #131416 !important;
  color: white !important; }
  select:focus {
    color: white;
    outline: 2px solid #131416 !important;
    background-color: black; }
h1,h2,h3{
    color:white
}
label{
    color:white;
    font-size:large;
}
input[type=date] {
    background-color: #131416 !important;
    color: white !important;

}
input[type=time] {
    background-color: #131416 !important;
    color: white !important;
}
th, td {
    color: white !important;
}
textarea {
    background-color: #131416 !important;
    color: white !important;
}
dl, dt, dd {
    color: white !important;
}

input[type=password] {
    color: white !important;
    background-color: black !important;
}

input[type=email] {
    color: white !important;
    background-color: black !important;
}